@use "../../abstract" as var;

.page {
    height: 1000px;
}

.page__footer {
    position: fixed;
    bottom: 0;
    left: 0;

    z-index: var.$page-footer;
}

@include var.tablet-size {

    .page__footer {
        position: static;
    }
}