@use "../../abstract" as var;

.features__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 22px;
    font-weight: 700;
}

.features__list {
    @extend %list-reset;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-x: auto;
}

.features__item {
    width: 145px;
    height: 145px;
    margin-right: 10px;

    flex-shrink: 0;

    &:last-child {
        margin-right: 0;
    }
}

@include var.tablet-size {

    .features__list {
        flex-wrap: wrap;
    }

    .features__item {
        width: calc((100% - 20px * 2) / 3);
        height: 170px;
        margin-right: 20px;
        margin-bottom: 20px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    .features__title {
        margin-bottom: 20px;
    
        font-size: 30px;
    }
    
}

@include var.desktop-size {

    .features__item {
        width: calc((100% - 20px * 3) / 4);

        &:nth-child(3n) {
            margin-right: 20px;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+4) {
            margin-bottom: 0;
        }
    }

}