@use "../../abstract" as var;

.rating__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    min-height: 125px;

    text-align: center;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    &:hover {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
}

.rating__img {
    margin-top: auto;
}

.rating__title {
    margin: 0;

    font-size: 14px;
    color: var.$brand-black;
}

.rating__list {
    @extend %list-reset;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: auto;
}

.rating__item {
    color: var.$brand-warning;
}

@include var.tablet-size {

    .rating__link {
        min-height: 140px;
    }

    .rating__img {
        width: 105px;
        height: auto;
    }

    .rating__icon {
        width: 20px;
        height: 20px;
    }

    .rating__title {
        font-size: 16px;
    }
}