.doctors-list {
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 0;
    text-align: center;
}
.doctors-list [class^='col-'] {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-right: -5px;
    text-align: center;
}

.doctor-item > a {
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.05);
    display: inline-block;
    height: 340px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 205px;
}

.doctor-item > a:hover {
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}

.doctor-item .photo-border {
    background: transparent none no-repeat scroll center top;
    background-size: cover;
    border-bottom: solid 5px #e1005c;
    height: 220px;
    width: 100%;
}

.container__doctors .doctor-item .photo-border {
    height: auto;
}

.doctor-item .doctor-image {
    background: transparent none no-repeat scroll center;
    background-size: cover;
    height: 205px;
    width: 100%;
}

.doctors-list .doctor-item h3 {
    border-bottom: none;
    color: #212121 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    padding: 0 10px;
    text-align: left;
    width: 100%;
}

.doctors-list .doctor-item p {
    color: #485363;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-top: 10px;
    padding: 0 10px;
    text-align: left;
    width: 100%;
}

@media only screen and (max-width : 400px) {
    .doctors-list {
        background-color: rgba(255, 255, 255, 1);
        padding-top: 20px;
        padding-bottom: 20px;
        /* text-align: center; */
    }
    .doctors-list [class^='col-'] {
        width: 100% !important;
    }
}