$brand-white: #fff;
$brand-black: #212121;

$brand-danger-100: #f61c0d;
$brand-danger-200: #e60f63;

$brand-success: #4caf50;
$brand-warning: #f0b207;

$brand-primary: #edf4ff;

$brand-grey-100: #f4f4f4;
$brand-grey-200: #dadada;
$brand-grey-300: #d6d6d6;
$brand-grey-400: #d1d1d1;
$brand-grey-500: #adadad;
$brand-grey-600: #a3a3a3;
$brand-grey-700: #969696;
$brand-grey-800: #898989;
$brand-grey-900: #616161;
$brand-grey-1000: #5c5c5c;

$brand-dark-100: #4d4d4d;
$brand-dark-200: #474747;
$brand-dark-300: #333333;
$brand-dark-400: #212121;
$brand-dark-500: #212120;
$brand-dark-600: #121212;