@use "../../abstract" as var;

.footer {
    width: 100%;

    background-color: var.$brand-white;
    border-top: 1px solid var.$brand-grey-100;
}

@include var.tablet-size {

    .footer__navbar {
        display: none;
    }
}